<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductCart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4233ea3642.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <link rel="stylesheet" href="/css/productCartStyles.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section class="top">
            <h1 class="main-title">
                Tu carrito de compras
            </h1>
    
            <div class="subtotal">
                <p class="sub-name">
                    Subtotal:
                </p>
                <p class="sub-number">
                    $ 000.00
                </p>
            </div>
    
            <div class="pay-button">
                <button>
                    Pagar
                </button>
            </div>     
            
            <div class="label-price">
                <p>
                    Precio
                </p>
            </div>
        </section>       
    
        <section class="list-of-p-and-pay">

            <section class="list-of-p-and-pay-one">
                <section class="list-of-items-to-pay">
                    <div class="product-card">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-image" class="product-img">                       
                        
                        <div class="name-buttoms-product">
                            <p class="product-name">
                                Nombre del producto
                            </p>

                            <div class="buttoms-and-price">
                                <div class="buttons-for-#-items">
                                    <div class="number-of-items">
                                        <button>
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <p>
                                            1
                                        </p>
                                        <button>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                        
                                    <div class="trash">
                                        <button>
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>                                                        
                                </div>

                                <div class="product-price-mobile"> 
                                    <p class="name-price">
                                        Precio:
                                    </p>                                                                                                  
                                    <p class="number-price">
                                        $ 000.00
                                    </p>
                                </div>
                            </div>
    
                                                       
                        </div>

                        <div class="product-price-desktop">                            
                            <p class="number-price">
                                $ 000.00
                            </p>
                        </div>
                        

                    </div> 
                    
                    <div class="product-card">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-image" class="product-img">                       
                        
                        <div class="name-buttoms-product">
                            <p class="product-name">
                                Nombre del producto
                            </p>

                            <div class="buttoms-and-price">
                                <div class="buttons-for-#-items">
                                    <div class="number-of-items">
                                        <button>
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <p>
                                            1
                                        </p>
                                        <button>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                        
                                    <div class="trash">
                                        <button>
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>                                                        
                                </div>

                                <div class="product-price-mobile"> 
                                    <p class="name-price">
                                        Precio:
                                    </p>                                                                                                  
                                    <p class="number-price">
                                        $ 000.00
                                    </p>
                                </div>
                            </div>
    
                                                       
                        </div>

                        <div class="product-price-desktop">                            
                            <p class="number-price">
                                $ 000.00
                            </p>
                        </div>
                        

                    </div>
                    
                    <div class="product-card">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-image" class="product-img">                       
                        
                        <div class="name-buttoms-product">
                            <p class="product-name">
                                Nombre del producto
                            </p>

                            <div class="buttoms-and-price">
                                <div class="buttons-for-#-items">
                                    <div class="number-of-items">
                                        <button>
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <p>
                                            1
                                        </p>
                                        <button>
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                        
                                    <div class="trash">
                                        <button>
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>                                                        
                                </div>

                                <div class="product-price-mobile"> 
                                    <p class="name-price">
                                        Precio:
                                    </p>                                                                                                  
                                    <p class="number-price">
                                        $ 000.00
                                    </p>
                                </div>
                            </div>
    
                                                       
                        </div>

                        <div class="product-price-desktop">                            
                            <p class="number-price">
                                $ 000.00
                            </p>
                        </div>
                        

                    </div>
    
                </section>
    
                <section class="to-pay">
                    <div class="subtotal-to-pay">
                        <p class="name-to-pay">
                            Subtotal:
                        </p>
                        <p class="number-to-pay">
                            $ 000.00
                        </p>
                    </div>
                    <div class="shipping">
                        <p class="name-to-pay">
                            Envío:
                        </p>
                        <p class="number-to-pay">
                            $ 000.00
                        </p>
                    </div>
                    <div class="total">
                        <p class="name-to-pay">
                            Total:
                        </p>
                        <p class="number-to-pay">
                            $ 000.00
                        </p>
                    </div>
        
                    <div class="pay-button">
                        <button>
                            Pagar
                        </button>
                    </div>   
                </section>
            </section>

            
            
    
            <section class="to-pay-desktop">
                <div class="subtotal-to-pay">
                    <p class="name-to-pay">
                        Subtotal:
                    </p>
                    <p class="number-to-pay">
                        $ 000.00
                    </p>
                </div>
                <div class="shipping">
                    <p class="name-to-pay">
                        Envío:
                    </p>
                    <p class="number-to-pay">
                        $ 000.00
                    </p>
                </div>
                <div class="total">
                    <p class="name-to-pay">
                        Total:
                    </p>
                    <p class="number-to-pay">
                        $ 000.00
                    </p>
                </div>
    
                <div class="pay-button">
                    <button>
                        Pagar
                    </button>
                </div>   
            </section>
    
        </section>
    
        
        <section class="other-products">
            <h2 class="title">
                Otros clientes también compraron
            </h2>
            <div class="list-of-products">
                <div class="mini-product-card">
                    <a href="#">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-picture">
                        <p class="mini-name">Nombre del producto</p>
                        <p class="mini-price">$000.00</p>
                    </a>
                </div>
                
                <div class="mini-product-card">
                    <a href="#">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-picture">
                        <p class="mini-name">Nombre del producto</p>
                        <p class="mini-price">$000.00</p>
                    </a>
                </div>
                    
                <div class="mini-product-card">
                    <a href="#">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-picture">
                            <p class="mini-name">Nombre del producto</p>
                            <p class="mini-price">$000.00</p>
                    </a>
                </div>      

                <div class="mini-product-card">
                    <a href="#">
                        <img src="/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg" alt="product-picture">
                            <p class="mini-name">Nombre del producto</p>
                            <p class="mini-price">$000.00</p>
                    </a>
                </div>      
                                  
            </div>
        </section>
    </main>
    
    <footer>


    </footer>
    
</body>
</html>