* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
body {
  background-color: #0e948d;
}

header {
  background-color: white;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
}

.container-logo {
  display: flex;
  align-self: center;
  justify-content: center;
}

.tech-land-logo {
  width: 180px;
  height: 22px;
}

.search-box {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.options {
  display: flex;
  justify-content: center;
}
#search {
  width: 85%;
}

.button-search {
  padding: 2px;
}

.fa-searchengin {
  color: #0e948d;
}

.header-nav {
  padding: 10px;
}
.header-nav,
ul {
  display: flex;
}

ul.service-options {
  width: 70%;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

.container-barMenu {
  width: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #26314D;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-barMenu i{
    color: white;
}

ul.user-options {
  width: 30%;
  list-style: none;
  justify-content: stretch;
  flex-wrap: wrap;
}

div.banner {
  display: flex;
}

div.banner img {
  width: 100%;
}


@media (min-width: 320px) {
    .header-nav {
        display: none;
      }
      .header-nav,ul {
        flex-direction: column;
        align-content: center;
      }
      
}  

@media (min-width: 560px) {
  .header-nav {
    display: flex;
  }

  .container-barMenu{
      display: none;
  }

  .header-nav,ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
