* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Roboto Mono", monospace;
}
body {
  margin-bottom: 408px;
  background-color: #1a0315;
}

html {
  position: relative;
}
header {
  background-color: black;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px 20px 10px;
  background-color: black;
}

.container-logo {
  display: flex;
  align-self: center;
  justify-content: center;
}

main {
  background-color: black;
  margin: 10px;
}

main section {
  background-color: black;
  margin-top: 30px;
}

.tech-land-logo {
  width: 180px;
  height: 22px;
}

.search-box {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.options {
  display: flex;
  justify-content: center;
}
#search {
  width: 85%;
  font-size: 1.2em;
}

.fa-searchengin {
  font-size: 1.2em;
}

.header-nav {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-nav ul {
  display: flex;
}

ul.service-options {
  flex-direction: column;
  width: 100%;
  align-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}

.header-nav ul li {
  margin-top: 5px;
}

.footer-icon-mobile {
  color: white;
}

ul.service-options li a,
ul.user-options li a {
  color: white;
}
.header-nav {
  border-top: #88d317 solid 1px;
}
ul.user-options li i {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 2px;
  color: #88d317;
}

.container-barMenu {
  width: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a0315;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-barMenu i {
  color: #88d317;
}

ul.user-options {
  width: 15%;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

ul.user-options,
li,
button {
  font-family: "Roboto Mono", monospace;
  width: max-content;
}

div.banner {
  display: flex;
}

div.banner img {
  width: 100%;
}

.firstContent {
  padding: 15px 0 15px 0;
}
.firstContent .promotionalProducts {
  margin-top: 30px;
}

.itemImage {
  max-width: 100%;
  width: auto;
  height: auto;
}

.img-short {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titleMain {
  margin-top: 15px;
  margin-bottom: 25px;
  border-top: #88d317 solid 2px;
  color: white;
  text-align: center;
}

.Item {
  margin: 10px auto 10px auto;
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 450ms;
}

.Item:hover {
  box-shadow: 2px 2px 5px 5px #88d317;
}

.footerTitle {
  text-align: center;
  margin: 10px auto 10px auto;
}

.footerItem {
  margin: 15px auto 10px auto;
}

.footerItem ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footerItem ul li {
  margin: 10px auto 10px auto;
}

.footerFormMobile {
  display: flex;
  justify-content: center;
  padding: 0 30px 30px 30px;
}

.footerFormMobile input,
.footerFormMobile button {
  height: 30px;
}
.footerFormMobile button:hover {
  background-color: #1a0315;
  color: white;
}

.search-box {
  display: none;
}

.shoppingCart {
  display: none;
}
.nameItemfooter {
  display: none;
}

.contactFooter {
  flex-direction: column !important;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footerContainer .footerItem h4,
.footerContainer .footerItem ul li i,
.footerContainer .footerItem ul li {
  color: white;
}

.footer-icon-mobile:hover,
.nameItemfooter:hover > i,
.nameItemfooter:hover {
  color: #88d317 !important;
}

@media (min-width: 320px) {
  .header-nav,
  ul {
    flex-direction: column;
    align-content: flex-end;
    padding: 10px;
  }

  ul.user-options {
    margin: auto;
  }
}

@media (min-width: 560px) {
  .search-box {
    display: block;
  }

  .shoppingCart {
    display: block;
    color: white;
  }
  nav.header-nav {
    display: flex !important;
    border: none;
  }

  .container-barMenu {
    display: none;
  }

  .header-nav {
    flex-direction: row;
  }

  ul.service-options,
  ul.user-options {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
  }
  .Item {
    width: 40%;
    font-size: 1.1em;
  }

  .specifications {
    margin-top: 10px;
    padding: 10px;
  }
  .featuredProducts,
  .promotionalProducts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  ul.service-options {
    width: 100%;
  }
  ul.user-options {
    justify-items: flex-end;
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .footerContainer .footerItem h4,
  .footerContainer .footerItem ul li i,
  .footerContainer .footerItem ul li {
    font-size: 1em !important;
  }

  body {
    margin-bottom: 270px;
  }

  .header-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  ul.service-options,
  ul.user-options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
  }

  ul.service-options li,
  ul.user-options li {
    font-size: 1.2em;
  }

  a .footer-icon-mobile {
    display: none;
  }
  ul.user-options li {
    width: 50%;
  }

  .footerContainer section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footerItem {
    width: 30%;
  }

  .footerItem ul {
    flex-wrap: wrap;
    align-content: space-around !important;
  }
  .footerItem ul.follow-us {
    flex-direction: column;
  }
  .nameItemfooter {
    color: white;
    display: inline;
  }
}

@media (min-width: 1028px) {
  ul.service-options {
    width: 70%;
  }
  ul.user-options {
    justify-items: flex-end;
    width: 30%;
    margin: 0;
  }
  .Item {
    width: 20%;
  }

  .tech-land-logo {
    width: 200px;
    height: 25px;
  }
}
