*{
    box-sizing: border-box;
    margin:0px;
    padding:0px
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    /* background-color:#0E948D33; */
    /* background-color:#26314d69; */
    background-image: url(/images/background.jpg);
    background-size:cover;    
    background-attachment: scroll;
}
.logo{
    width:30%;
}

header{
    background-color:#0077b6;
    /*background-color: #26314d;
    background-color:#005f73;
    background-color: #6182A4;
    background-color: #39A988; */
    padding:12px;
    
}

header ul.navbar{
    list-style-type: none;
    display:none;
}

header ul.navbar a{
    text-decoration: none;
    color:white;
}

header ul.navbar a{
    text-decoration: none;
}

main{
    padding:8px;
    text-align: center;
}

main h1{
    font-size: 2rem;
    margin-bottom:20px;
    margin-top:15px;
    color:white;
}
main article.tabs{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
main article.tabs div.register{
    background-color:#89c2d9;
    /* background-color:#a2d2ff;
    background-color:#6182A4;
    background-color:#4895ef;
    opacity:0.8;*/
    text-align: center;
    color:white;
    width:45%;
    height: 35px;
    line-height: 34px;
    text-transform: uppercase;
    font-size:0.6rem;
}
main article.tabs div.login{
    background-color:#89c2d9;
    /* background-color:#a2d2ff;
    /* background-color:#6182A4; 
    background-color:#4895ef; */
    text-align: center;
    opacity: 0.5;
    color:white;
    width:45%;
    height: 35px;
    line-height: 34px;
    text-transform: uppercase;
    font-size:0.6rem;
}

main section{
    padding:8px;
    background-color:#89c2d9;
    /* background-color:#a2d2ff;
    background-color:#6182A4;
    background-color:#4895ef;
    opacity:0.8;*/
    margin:5px;
    margin-top: -1px;
    margin-bottom: 30px;
}

main section div{
    margin-bottom:15px;
}

main section article.fullname{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}

main section article.fullname div{
    width:45%;
}

.input{
 width: 100%;
 height:5vh
}

footer{
    background-color:black;
    padding:10px;
    margin:12px;
    margin-top:0px;
}

footer nav{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

footer nav ul{
    width:35%;
}

footer nav .logo{
    width:22%;
}

footer ul.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type:none ;
} 

footer nav ul li{
    color:white;
}

footer ul.navbar a{
    text-decoration: none;
    color:white;
}

@media(min-width: 769px){

    header article{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    header ul.navbar{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:28%;
        /* align-items: flex-start; */
        /* margin-bottom:8px;
        margin-left:38%; */
    }
    /* header ul.navbar li{
        width:30%;
        box-shadow: 120px 80px 40px 20px #0ff; 
    } */
    div.input-search{
    width:25%;
    }

    .search{
    width:90%;
    }
    .fa-search{
        color:white;
    }

    header div.profile{
       width:11%;
       border:cornflowerblue solid 2px;
       box-shadow: 0px 0px 8px ; 
       padding:2px;
       text-align: center;
    }
    .fa-user,.fa-cart-plus{
     margin:0px 3px;
     color:white;
    }

    header ul.navbar a{
        padding: 5px;
    }

    header ul.navbar a.firsttab{
        border:solid  yellow 2px;
        box-shadow: 0px 0px 8px ;    
        border-radius: 3px;   
    }

    header ul.navbar a.secondtab{
        /* border:solid #ff1919 2px; */
        border:solid #4895ef 2px;
        box-shadow: 0px 0px 8px ;
        border-radius: 3px;  
    }

    header ul.navbar a.thirdtab{
        border:solid #b3ff51 2px;  
        box-shadow: 0px 0px 8px ;
        border-radius: 3px;  
    }

    header section div.line-first
    {
        border-top:solid yellow 2px;  
        box-shadow: 0px 0px 8px ;
        width:40%;
        margin-bottom:8px;
    }

    header section div.line-second
    {
        border-top:solid #4895ef 2px;
        box-shadow: 0px 0px 8px ;    
        width:60%;
        margin-bottom:8px;
    }

    header section div.line-third
    {
        border-top:solid #b3ff51 2px;
        box-shadow: 0px 0px 8px ;
        width:100%;
        margin-bottom:0px;
    }
    header section{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content:space-between;
        width: 100%;
    }   
    
    header section div.lines{
        width:70%;
    }
    
    header div.circle-second{
      color:#4895ef;
    }
    header div.circle-one{
        color:yellow;
        
      }
    header div.circle-third{
      color:#b3ff51;  
    }

    header section article.circle{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:30%;
    }

    
}