@media(min-width: 560px){

    .user-options{
        display: none !important;
    }

    .service-options{
        width: 100% !important;
    }
    .container-barMenu
    {
        display:none;
    }
}