<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home/bodyStyles.css" />
  <link rel="stylesheet" href="/css/home/navbarStyles.css" />
  <link rel="stylesheet" href="/css/home/footerStyles.css" />
  <link rel="stylesheet" href="/css/home/carruselStyle.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto+Mono&display=swap" rel="stylesheet" />
  <script type="text/javascript" src="/js/home.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/4233ea3642.js" crossorigin="anonymous"></script>
  <title>Welcome to "Tech Land"!</title>
</head>

<body>
    <%- include('./partials/header')%>
    <%- include('./partials/carrusel')%>
  </header>

  <main class="firstContent">
    <h2 class="titleMain">Productos Destacados:</h2>
    <section class="featuredProducts">
      <a href="/productDetail">
        <article class="Item">
          <img class="itemImage" src="/images/home/i9.jpg" alt="Core-i9" />
          <div class="specifications">
            <h3 class="titleItem">
              Intel Core i9 i9-10940X Tetradeca-core (14 núcleos) 3,30 GHz.
            </h3>
            <p class="price">$26,900.00</p>
            <p class="recommendations"><a href="#">Articulos similares</a></p>
          </div>
        </article>
      </a>

      <a href="/productDetail">
        <article class="Item">
          <img class="itemImage img-short" src="/images/home/RTX3060.jpg" alt="RTX3060" />
          <div class="specifications">
            <h3 class="titleItem">
              MSI Tarjeta de Video NVIDIA GeForce RTX 3060 Gaming X.
            </h3>
            <p class="price">$18,698.00</p>
            <p class="recommendations"><a href="#">Articulos similares</a></p>
          </div>
        </article>
      </a>

      <a href="/productDetail">
        <article class="Item">
          <img class="itemImage" src="/images/home/GabineteConquer.jpg" alt="" />
          <div class="specifications">
            <h3 class="titleItem">
              Gabinete Cougar Conquer 2 con Ventana RGB, Full Tower.
            </h3>
            <p class="price">$6,449.00</p>
            <p class="recommendations"><a href="#">Articulos similares</a></p>
          </div>
        </article>
      </a>

      <a href="/productDetail">
        <article class="Item">
          <img class="itemImage img-short" src="/images/home/KingstonMemory.jpg" alt="RamFuryBeast" />
          <div class="specifications">
            <h3 class="titleItem">
              Kit Memoria Ram Kingston FURY Beast DDR4 RGB, 3200MHz, 16GB (2 x
              8GB).
            </h3>
            <p class="price">$2,239.00</p>
            <p class="recommendations"><a href="#">Articulos similares</a></p>
          </div>
        </article>
      </a>

    </section>

    <h2 class="titleMain">Productos en Promoción:</h2>
    <a href="/productDetail">
      <section class="promotionalProducts">
        <article class="Item">
          <img class="itemImage" src="/images/home/GabineteNZXT.jpg" alt="GabineteNZXT" />
          <div class="specifications">
            <h3 class="titleItem">
              Gabinete NZXT H510 Elite con Ventana RGB, Midi-Tower.
            </h3>
            <p class="discount">-15% ¡$585.00 menos!</p>
            <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
          </div>
        </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage img-short" src="/images/home/tecladoXzeal.jpg" alt="GabineteNZXT" />
        <div class="specifications">
          <h3 class="titleItem">
            Teclado Gamer XZEAL XZ1020, Teclado Mecánico.
          </h3>
          <p class="discount">-10% ¡$75.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage" src="/images/home/mouseEvga.jpg" alt="GabineteNZXT" />
        <div class="specifications">
          <h3 class="titleItem">
            Gabinete NZXT H510 Elite con Ventana RGB, Midi-Tower
          </h3>
          <p class="discount">-8% ¡$90.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>

    <a href="/productDetail">
      <article class="Item">
        <img class="itemImage img-short" src="/images/home/ramCorsair.jpg" alt="RamCorsair" />
        <div class="specifications">
          <h3 class="titleItem">
            Memoria RAM Corsair Vengeance DDR3, 1600MHz, 8GB.
          </h3>
          <p class="discount">-20% ¡$180.00 menos!</p>
          <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
        </div>
      </article>
    </a>
    </section>
  </main>

  <footer class="footerContainer">
    <section>
      <article class="footerItem">
        <h4 class="footerTitle">Follow Us</h4>
        <ul class="follow-us">
          <li>
            <a href="#"><i class="fab fa-facebook fa-2x footer-icon-mobile"></i></a>
            <a href="#"><span class="nameItemfooter">Facebook: <i class="fab fa-facebook fa-lg"></i></span></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square fa-2x footer-icon-mobile"></i></a>
            <a href="#"><span class="nameItemfooter">Twitter: <i class="fab fa-twitter-square fa-lg"></i></span></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram-square fa-2x footer-icon-mobile"></i></a>
            <a href="#"><span class="nameItemfooter">Instagram:
                <i class="fab fa-instagram-square fa-lg"></i></span></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-github fa-2x footer-icon-mobile"></i></a>
            <a href="#"><span class="nameItemfooter">Git-Hub: <i class="fab fa-github fa-lg"></i></span></a>
          </li>
        </ul>
      </article>

      <article class="footerItem">
        <h4 class="footerTitle">Contact Us</h4>
        <ul class="contactFooter">
          <li class="contactFooterItem">Call: +52 55 XX XX XX XX</li>
          <li class="contactFooterItem">E-mail: something@someadress.com</li>
        </ul>
      </article>

      <article class="footerItem">
        <h4 class="footerTitle">Subscribe to the newsletter.</h4>
        <form class="footerFormMobile" action="#" method="POST">
          <input type="email" placeholder="something@someadress.com" required />
          <button type="submit">Subscribe</button>
        </form>
      </article>
    </section>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>