
<h2 class="titleMain">Productos en Promoción:</h2>
    <section class="promotionalProducts">
      <% promotionProductsList.forEach(product => { %>    
        <a href="/products/detail/<%=product.id%>">      
          <article class="Item">
            <img class="itemImage" src="<%=product.img%>" alt="GabineteNZXT" />
            <div class="specifications">
              <h3 class="titleItem">
                <%=product.name%>
              </h3>
              <p class="discount"><%= product.discount%></p>
              <p class="moreOffers"><a href="#">Otras ofertas similares</a></p>
            </div>
          </article>
        </a>
      <% })%>
  </section>